django-crispy-forms==1.8.1
python-dotenv==0.10.3
boto3
botocore
certifi
chardet
dj-database-url
django-heroku
django-storages
docutils
gunicorn
idna
jmespath
Pillow
psycopg2
python-dateutil
pytz
requests
s3transfer
six
urllib3
whitenoise